
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informacion de Proveedor</title>
    <link rel="stylesheet" type="text/css" href="~/css/listaProveedor.css">
</head>
<body>
    <header>

        <a class="atras" href="@Url.Action("Logout")">
            <img width="50" src="https://pngimage.net/wp-content/uploads/2018/05/cerrar-sesion-png-1.png" alt="Cerrar Sesion" />
        </a>
        <h1>Informacion de Proveedor</h1>
    </header>
    <main>
        <table align="center">
            <tr>
                <th>Opciones</th>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Username</th>
                <th>Password</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;Sucursales</th>
            </tr>
            @foreach (var t in ViewBag.listaProveedor)
            {
                <tr class="t">

                    <td><a href="@Url.Action("EditarProveedor","Proveedor",new { rut=t.Rut,p=t.Codigo })">
    <img width="30" src="https://cdn.pixabay.com/photo/2017/06/06/00/33/edit-icon-2375785_960_720.png" alt="Editar" />
</a></td>
                    <td class="t">@t.Rut</td>
                    <td class="t">@t.Nombre</td>
                    <td class="t">@t.Usuario</td>
                    <td class="t">@t.Pass</td>
                    <td class="t">@t.Correo</td>
                    <td class="t">@t.Telefono</td>


                    <td>
                        <a href="@Url.Action("ListaSucursal","Sucursal",new { c=t.Codigo })">
                            <img width="30" src="http://www.inspiri.es/wp-content/uploads/2013/03/lista.png" alt="Listar" />
                            Listar
                        </a>
                        <a href="@Url.Action("AgregarSucursal","Sucursal",new { c=t.Codigo })">
                            <img width="30" src="https://jorgeguerrerogarcia.com/wp-content/uploads/2016/08/plus-5-xxl.png" alt="Agregar" />
                            Agregar
                        </a>
                    </td>

                </tr>
            }
        </table>
    </main>
    
    
</body>
</html>
