
@{
    ViewBag.Title = "AgregarFactura";
}
@model Cementerio.ViewModels.Facturas.FacturaVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar Fallecido</title>
    <link rel="stylesheet" type="text/css" href="~/css/add.css">
</head>
<body>
    <header>
        <h1 >Agregar </h1>
    </header>
    <main>
        @using (Html.BeginForm("AgregarFactura", "Facturas"))
        {
        <table>

            <input type="hidden" value="@ViewBag.fallecido" id=@Html.TextBoxFor(model => model.Factura.fallecido_id)
            <input type="hidden" value="@ViewBag.tumba" id=@Html.TextBoxFor(model => model.Factura.tumba_id)
             <input type="hidden" value="@ViewBag.total" id=@Html.TextBoxFor(model => model.Factura.total)
            <input type="hidden" value="@ViewBag.fecha" id=@Html.TextBoxFor(model => model.Factura.fecha_emision)
             <input type="hidden" value="@ViewBag.fallecido_rut" id=@Html.TextBoxFor(model => model.Factura.fallecido_rut)
            <input type="hidden" value="@ViewBag.fallecido_pa" id=@Html.TextBoxFor(model => model.Factura.fallecido_apellidoPaterno)
             <input type="hidden" value="@ViewBag.fallecido_ma" id=@Html.TextBoxFor(model => model.Factura.fallecido_apellidoMaterno)
            <input type="hidden" value="@ViewBag.fallecido_edad" id=@Html.TextBoxFor(model => model.Factura.fallecido_edad)
            <input type="hidden" value="@ViewBag.fallecido_nombre" id=@Html.TextBoxFor(model => model.Factura.fallecido_nombre)
            
                   <tr>
                <td>Informacion Sector</td>
            </tr>
            <tr>
                <td>Sector :</td>
                <td>
                    <select required id=@Html.TextBoxFor(model => model.Factura.sector_id)>

                        @foreach (var t in ViewBag.listaSector)
                        {
                            <option value="@t.id">Capacidad: @t.capacidad  Extension: @t.extension_variable</option>
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td>Informacion Familiar</td>
            </tr>
            <tr>
                <td>Rut :</td>
                <td><input required type="text" id=@Html.TextBoxFor(model => model.Factura.familiar_rut)</td>
            </tr>
            <tr>
                <td>Nombre :</td>
                <td><input required type="text" pattern="[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\s]+" id=@Html.TextBoxFor(model => model.Factura.familiar_nombre)</td>
            </tr>
            <tr>
                <td>Apellido Paterno :</td>
                <td><input required type="text" pattern="[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\s]+" id=@Html.TextBoxFor(model => model.Factura.familiar_apellidoPaterno)</td>
            </tr>
            <tr>
                <td>Apellido Materno  :</td>
                <td><input required type="text" pattern="[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\s]+" id=@Html.TextBoxFor(model => model.Factura.familiar_apellidoMaterno)</td>
            </tr>
            <tr>
                <td>Edad :</td>
                <td><input required type="number" id=@Html.TextBoxFor(model => model.Factura.familiar_edad)</td>
            </tr>
            <tr>
                <td>Telefono :</td>
                <td><input required type="number" id=@Html.TextBoxFor(model => model.Factura.familiar_telefono)</td>
            </tr>
           
            <tr>
                <td></td>
                <td><input type="submit" value="Guardar" /></td>
            </tr>
        </table>
        }
    </main>
</body>
</html>